/* RESET SIMPLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #222;
}

/* LIENS */
a {
  text-decoration: none;
  color: inherit;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* BUTTON */
.btn {
  padding: 10px 16px;
  border: none;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: #1e4fd6;
}
